<!doctype html>
<html>
  <head>
    <meta http-equiv="refresh" content="0; url=https://shopify.com/94836293942/account/login" />
    <script>location.replace('https://shopify.com/94836293942/account/login');</script>
  </head>
  <body>
    <p>Redirecting to Shopify Accounts… <a href="https://shopify.com/94836293942/account/login">Click here if you are not redirected</a>.</p>
  </body>
</html>

